.ui.borderless.titlemenu.menu {
  padding-top: 20px;
  box-shadow: none;
  border: none;
}

.text.titletext {
  font-family: serif;
  font-weight: lighter;
  font-size: 70px;
  color: black;
}

.ui.image.pencilholder {
  height: 180px;
}

.ui.image.freeshipping {
  height: 180px;
}

.ui.centered.grid.smalltext.container {
  padding-left: 170px;
}


.text.subtext {
  font-family: serif;
  margin-top: -30px;
}

.ui.borderless.loginmenu.menu {
  box-shadow: none;
  border: none;
}

.text.logintext {
  padding-right: 100px;
}

.ui.borderless.cartmenu.menu {
  box-shadow: none;
  border: none;
}

.text.carttext {
  padding-right: 90px;
  font-size: 1.5em;
}

.ui.borderless.navmenu.menu {
  padding-left: 50px;
  box-shadow: none;
  border: none;
}

.text.navmenu {
  font-size: 1.2rem;
}

.dropdown.navmenu.icon {
  color: #ff6938;
}

.ui.action.searchbox.input {
  width: 450px;
  padding-right: 105px;
  font-size: 10px;
}

.ui.searchbox.button {
  color: white;
  background-color: black;
}

.pencil-background {
  padding-top: 30px;
  padding-bottom: 50px;
}

.text.banner {
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  padding: 10px 200px 10px 10px;
  font-size: 27px;
  font-family: sans-serif;
  background-color: gray;
  opacity: 0.7;
  color: white;
}

.row {
  margin-left: 110px;
  margin-right: 110px;
  padding-bottom: 30px;
}

.ui.segment {
  background-color: #f4f4f4;
}

.ui.image.boxes {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  width: 50%;
}

.ui.center.aligned.segment {
  box-shadow: none;
  border: none;
  font-size: 1.1rem;
  color: black;
}

.footer {
  margin-top: 15px;
  background-color: #f4f4f4;
}

.text.titlefooter {
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.ui.three.column.grid.container {
  padding-left: 60px;
  padding-right: 60px;
}

.ui.list.footercolumn {
  color: #666564;
  font-size: 15px;
}

.ui.centered.footer.grid {
  margin-top: 50px;
}

.huge.ui.icon.button {
  color: #666564;
  background-color: white;
  margin-right: 15px;
}

.ui.disclaimer.container {
  margin-top: 40px;
}

.ui.borderless.bottom.menu {
  background-color: #f4f4f4;
  box-shadow: none;
  border: none;
}

.text.copyright {
  font-weight: bold;
  font-size: 11px;
  margin: 5px;
}

.text.bottomtitle {
  font-size: 11px;
  margin: 5px;
}

.ui.privacy.container {
  margin-top: 10px;
}

.text.bottomtext {
  font-size: 11px;
  margin: 6px;
}




